{% extends 'bases/studentBase.html' %}

{% block content %}

<h1>Задания</h1>
<table border="1">
    <caption>Лабораторные работы</caption>
    <th>№ задания</th>
    <th>Дисциплина</th>
    <th>Название работы</th>
    <th>Срок сдачи</th>
    <th>Преподаватель</th>
    {% for lab in labworks %}
    <tr>
        <td>{{lab.labworkNum}}</td>
        <td>{{lab.subject}}</td>
        <td>{{lab.labworkName}}</td>
        <td>{{lab.deadline}}</td>
        <td>{{lab.instructor}}</td>
    </tr>
    {% endfor %}    
</table>
<hr>
<table border="1">
    <caption>Контрольные работы</caption>
    <th>№ задания</th>
    <th>Дисциплина</th>
    <th>Название работы</th>
    <th>Срок проведения</th>
    <th>Преподаватель</th>
    {% for test in tests %}
    <tr>
        <td>{{test.testNum}}</td>
        <td>{{test.subject}}</td>
        <td>{{test.testName}}</td>
        <td>{{test.deadline}}</td>
        <td>{{test.instructor}}</td>
    </tr>
    {% endfor %}    
</table>

{% endblock %}