{% extends 'bases/studentBase.html' %}

{% block content %}


<div class="outerContainer">
  <h1 style="margin:10px;">Задания</h1>
  <section class="tasks">    
      <div class="container">
          <div class="tasks__inner">

              {% for lab in labworks %}

                  <div class="task__item ">
                      <div class="task__item__module task__main">
                      <h2 class="task__name">
                          <i>№ - {{lab.id}}:</i>
                          {{lab.labName}}
                      </h2>
                      <ul class="task__label-list">
                          <li class="task__label">{{lab.subject}}</li>
                          {% if lab.instructor != None %}
                          <li class="task__label"><a href="{{url_for('ShowInstructorProfile', instructor=lab.instructor)}}">{{lab.instructor}}</a></li>
                          {% else %}
                          <li class="task__label">---</li>
                          {% endif %}
                          <li class="task__label">Лабораторная работа</li>
                      </ul>
                      </div>
                      <div class="task__bottom">
                      <div class="task__item__module task__info">
                          <ul class="task__info-list">
                          <li class="task__info-item deadline">
                              Срок до<span>{{lab.deadline}}</span>
                          </li>
                          {% if lab.mark != None and lab.mark > 2 %}
                          <li class="task__info-item">Оценка<span>{{lab.mark}}</span></li>
                          {% else %}
                          <li class="task__info-item"">Оценка<span style="background-color:#fe3e57">0/5</span></li>
                          {% endif %}
                          </ul>                
                          {% if lab.percent != None %}
                          <div class="task__progress"><span>{{lab.percent}}%</span></div>
                          {% else %}
                          <div class="task__progress"><span>0%</span></div>
                          {% endif %}
                      </div>
                      {% if lab.mark != None and lab.mark > 2 %}
                      <div class="task__item__module task__status">
                          <i class="fas fa-check"></i>
                      </div>
                      {% else %}
                      <div class="task__item__module task__status">      
                        <i class="fas fa-check" style="color:white"></i>      
                      </div>
                      {% endif %}
                      </div>
                  </div>
              {% endfor %}

              {% for test in tests %}

                  <div class="task__item ">
                      <div class="task__item__module task__main">
                      <h2 class="task__name">
                          <i>№ - {{test.id}}:</i>
                          {{test.testName}}
                      </h2>
                      <ul class="task__label-list">
                          <li class="task__label">{{test.subject}}</li>
                          {% if test.instructor != None %}
                          <li class="task__label"><a href="{{url_for('ShowInstructorProfile', instructor=test.instructor)}}">{{test.instructor}}</a></li>
                          {% else %}
                          <li class="task__label">---</li>
                          {% endif %}
                          <li class="task__label">Лабораторная работа</li>
                      </ul>
                      </div>
                      <div class="task__bottom">
                      <div class="task__item__module task__info">
                          <ul class="task__info-list">
                          <li class="task__info-item deadline">
                              Срок до<span>{{test.deadline}}</span>
                          </li>
                          {% if test.mark != None and test.mark > 2 %}
                          <li class="task__info-item">Оценка<span>{{test.mark}}</span></li>
                          {% else %}
                          <li class="task__info-item"">Оценка<span style="background-color:#fe3e57">0/5</span></li>
                          {% endif %}
                          </ul>                
                          {% if test.percent != None %}
                          <div class="task__progress"><span>{{test.percent}}%</span></div>
                          {% else %}
                          <div class="task__progress"><span>0%</span></div>
                          {% endif %}
                      </div>
                      {% if test.mark != None and test.mark > 2 %}
                      <div class="task__item__module task__status">
                          <i class="fas fa-check"></i>
                      </div>
                      {% else %}
                      <div class="task__item__module task__status">      
                        <i class="fas fa-check" style="color:white"></i>      
                      </div>
                      {% endif %}
                      </div>
                  </div>
              {% endfor %}
          </div>
      </div>
  </section>
</div>
<script>
    /*
    $(function () {
    $('.dropdown-btn').on('click', function(){
    $('.dropdown__list').toggleClass('dropdown__list--active');
    });


});*/
</script>

{% endblock %}