{% extends 'bases/staffBase.html' %}

{% block content %}

<div class="outerContainer">
  <form action="" method="POST" novalidate>
    <h4 style="margin-bottom: 30px">Добавить контрольную работу<br><u>Внимание, нумерация заданий для каждой группы отдельна.</u></h4>
    <p>
    <div style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 10px; margin: 20px">
      {{ form.taskId.label }}
      {{ form.taskId}}

      {{ form.taskName.label }}
      {{ form.taskName}}

      {{ form.taskGroup.label }}
      {{ form.taskGroup }}

      {{ form.taskDeadline.label }}
      {{ form.taskDeadline }}

      {{ form.taskCommentary.label }}
      {{ form.taskCommentary }}
    </div>

    <p style="margin-top: 30px;">{{ form.submit() }}</p>
    </p>
  </form>
</div>

{% endblock %}