{% extends 'bases/staffBase.html' %}

{% block content %}

<div style="float: top;">
    <h3>{{ subj }} - {{ studentName }}</h3>
</div>
<div>
    <table border="1" style="margin-bottom: 15px; margin: 0 auto">
        <caption>Лабораторные работы</caption>
        <th>№ работы</th>
        <th>Название</th>
        <th>Оценка</th>

        {% for l in labworks %}
        <tr>
            <td>{{l.labNum}}</td>
            <td>{{l.labName}}</td>
            <td>{{l.mark}}</td>
        </tr>

        {% endfor %}
    </table>
    <table border="1" style="margin-bottom: 15px; margin: 0 auto">
        <caption>Контрольные работы</caption>
        <th>№ работы</th>
        <th>Название</th>
        <th>Оценка</th>

        {% for t in tests %}
        <tr>
            <td>{{t.testNum}}</td>
            <td>{{t.testName}}</td>
            <td>{{t.mark}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}