{% extends 'bases/staffBase.html' %}

{% block content %}
    
<div class="outerContainer">
    <h3 style="margin-bottom: 15px;">{{ subj }} - {{ studentName }}, гр. {{ group }}</h3>
    <table class="studTasksTable">
    <col>
    <colgroup span="3"></colgroup>
    <tr>
        <th colspan="3" scope="colgroup">Лабораторные работы</td>
    </tr>
        <th>№ работы</th>
        <th>Название</th>
        <th>Оценка</th>
        {% for l in labworks %}
        <tr>
            <td>{{l.labNum}}</td>
            <td>{{l.labName}}</td>
            <td>{{l.mark}}</td>
        </tr>

        {% endfor %}
        <col>
        <tr>
          <th colspan="3" scope="colgroup">Контрольные работы</th>
        </tr>
        <th>№ работы</th>
        <th>Название</th>
        <th>Оценка</th>
        {% for t in tests %}
        <tr>
            <td>{{t.testNum}}</td>
            <td>{{t.testName}}</td>
            <td>{{t.mark}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}