<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.min.css') }}">
        {{ fontawesome_css() }}
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body class="background background-login">
        <div>
            {% block content %}
            {% endblock %}
        </div>
        <div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        {% endif %}
        {% endwith %}
        </div>

        {{ fontawesome_js() }}
    </body>
</html>