<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body class="background">
        <div style=background-color:white>
            {% if current_user.is_anonymous %}

            {% else %}
            <a href="{{ url_for('user', login=current_user.login) }}">Profile</a>
            <a href="{{ url_for('logout') }}">Выход</a>
            {% endif %}
        </div> 
        <div class="centered-window">
            {% block content %}
            {% endblock %}
        </div>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </body>
</html>