<html>
    <head>       
        {% if title %}
        <title>{{ title }}</title>
        {%endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.min.css') }}">
    </head>

    <body class="background">
        <div class="foreground">
           <!-- <h1> Пользователь <i><u>{{ current_user.login }}</u></i></h1>-->
            {% block content %}
            {% endblock %}
        </div>
        <div style=background-color:white>
            <a href="{{url_for('student_profile')}}">Профиль</a>
            <a href="{{url_for('student_tasks')}}">Задания</a>
            <a href="{{url_for('logout')}}">Выход</a>
        </div> 
    </body>
</html>