.background {
    background-image: url("img/source.png");
    background-size:     cover;          
    background-repeat:   no-repeat;
    background-position: center center; 
}

.foreground {
    /*background-image: url("img/bgWhite.png");*/
    background-color: rgb(247, 247, 247);
    background-size:     cover;          
    background-repeat:   no-repeat;
    background-position: center center; 
    min-height: 600px;
}