{% extends "bases/base.html" %}

{% block content %}

<div class="login__box">
    <div class="login-content">
        <h1 class="regist__title">Регистрация</h1>
        <form class="regist-form" method="post" action="" novalidate>
            {{ form.hidden_tag() }}
            <div class="login__row">
                <i class="fas fa-sign-in-alt"></i>
                {{ form.login(class='regist__input regist__input-left') }}
            </div>
            {% for error in form.login.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <div class="login__row">
                <i class="fas fa-key"></i>
                {{ form.password(class='regist__input regist__input-left') }}
            </div>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <div class="login__row">
                <i class="fas fa-sync-alt"></i>
                {{ form.password2(class='regist__input regist__input-left') }}
            </div>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <button type="submit" id="goLeft" class="login-btn">Зарегистрироваться</button>
            <p style="margin-top:30px"><a href="{{ url_for('login') }}">Войти</a></p>            
        </form>
    </div>
</div>
 {% endblock %}